<div class="container-fluid">
    <div class="row mb-5" style="width: 100vw;">

        <div *ngFor="let movie of movieList; let i = index" class="mt-5">
            <div class="card position-static ml-4 mt-3" >
                <img (click)="onImageClick(i)" 
                    [src]="movie.Poster" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" 
                    style="margin-bottom: 0;"> 
                    {{ movie.Title }} &nbsp;
                    <i class="fa fa-star" style="color: orange;">&nbsp;
                        <span class="rating" 
                            style="color: black;">
                            {{ movie.imdbRating }}
                        </span>  
                    </i>
                </h5>
                <hr>
                    <p class="card-text">
                        Released on {{ movie.Released| date }} 
                    </p>
                    <p> Runtime: {{ movie.Runtime }} </p>
                    <p>Genre: {{ movie.Genre }} </p>
                    <p>Director: {{movie.Director}}</p>
                    
                    <button (click)="onEdit(i)" 
                        class="btn btn-outline-info btn-lg fa fa-edit edit mt-auto"></button>
                    <button (click)="onRemove(i)" 
                        class="btn btn-danger btn-lg fa fa-remove ml-3"></button>
                </div>
            </div>
        </div>

    </div>
</div>